altgraph==0.17.4
bitarray==3.7.1
black==25.9.0
click==8.3.0
colorama==0.4.6
isort==6.0.1
Jinja2==3.1.6
line_profiler==5.0.0
macholib==1.16.3
MarkupSafe==3.0.3
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pillow==10.4.0
platformdirs==4.4.0
pytokens==0.1.10
ttkbootstrap==1.14.2
